* {
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    /* overflow-x: hidden; */
    scroll-behavior:smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    color:#1E2A39;
}
body {
    position: relative;
    background: linear-gradient(200deg, #C7CBAB 0%, rgba(158, 170, 81, 0) 100%);
    background-repeat: no-repeat;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 20 * (100vw/1920));
    line-height: 200%;
    color: #1E2A39;
    overflow-x: hidden;
    
}
// .js-background {
//     display: flex;
//     flex-wrap: wrap;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     // background: url('./img/icons/js-vector.svg');
//     background-repeat: no-repeat;
// }
.icons-element {
    background: url('./img/icons/js-vector.svg');
    background-repeat: no-repeat;
    background-size: 6rem;
    width: 6rem;
    transition: .4s;
}
.icons-element:hover {
    transform:scale(0.8), rotate(45deg);

}

@media (min-width:1440px) {
    body {
        font-size:30px;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: content-box;
}