/* ------------------------CODE EXAMPLE ----------------------------------------- */

.container-codeexample {
    transition: 1s;
    transform: translate(-120%,0);
    opacity: 0;
}

.title-heading-codeexample {
}
.codeexample {
    display: none;
    margin: 30px;
    transition: .3s;
}
.show {
    display: flex;
}

.floating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60PX;
    line-height: 45px;
    border-radius: 45px;
    
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #dacfb5;
    border: solid 1px rgb(187, 122, 59);
    box-shadow: 0 8px 15px;
    transition: .3s;
    cursor: pointer;
}
.floating-button:hover {
  background: rgb(187, 122, 59);
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
.codeexample img {
    width: 100%;
    /* max-height: 600px; */
    object-fit: cover;

}

