/* -----------------------PORTFOLIO---------------------------- */
.container-portfolio {
    transition: 1s;
    // transform: scale(0.1);
    // opacity: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    gap:30px;
    margin-left: 0;
}
.portfolio-1 {
    
    width: 30rem;
    height: 30rem;
    margin: 0 2rem;
    /* background-size: 100% 100%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 3s ease;
      
}

.silver-seven {
    background: url(img/portfolio/silverSeven.png);
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.portfolio-portfolio {
    background: url(img/portfolio/portfolio.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.video-player {
    background: url(img/portfolio/video-player.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.movie-app {
    background: url(img/portfolio/movie-app.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.memory-game {
    background: url(img/portfolio/memory-game.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.momentum {
    background: url(img/portfolio/momentum.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.css-mem-slider {
    background: url(img/portfolio/css-mem-slider.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.shelter {
    background: url(img/portfolio/shelter.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.virtual-keyboard {
    background: url(img/portfolio/virtual-keyboard.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.portfolio-1 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1; */
    top: 40%;
    text-align: center;
    text-decoration: none;
    color: silver;
    height: 100%;
    cursor: pointer;
    transition-duration: 3s;
    /* transition: 3s; */
    opacity: 0;
}

.portfolio-1 :hover {
  
    background-color: rgba(161, 98, 38, 0.7)  ;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: .7s;
    opacity: 1;
    text-align: center;
    font-size: calc(40px + 60 * (100vw/1920));
    
}
@media (min-width:1440px) {
   .portfolio-1 :hover {
    font-size: 60px;
    
}
}

.portfolio-2 {
    /* flex:1;
    background-color: blanchedalmond; */
}

