.header {
  position: fixed;
  top: 0;
  max-width: inherit;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* max-width: 1920px; */
  height: 200px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-background-color-scroll {
  background-color: #6b5a104a;
}

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg, #C7CBAB 0%, rgba(158, 170, 81, 0) 100%);
  z-index: -1;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* align-content: center; */
  gap: 0;
  width: 100%;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 10;
}

@media (max-width: 1024px) {
  .header {
    display: block;
    height: auto;
    position: fixed;
    height: auto;
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(198, 216, 150, 0.514);
  }
  .header_menu {
    /* display: inline; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 0px;
    margin: 20px 20px 0 0;
    padding: 0px 0px 0 0;
    height: 0;
    font-size: 20px;
    line-height: 201%;
    z-index: 10;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 5rem;
    height: 3rem;
    margin: 1rem auto;
  }
  .burger-first-line,
  .burger-second-line,
  .burger-third-line {
    display: block;
    background-color: black;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-first-line-active {
    opacity: 0;
  }
  .burger-second-line {
    margin: 1rem auto;
  }
  .burger-second-line-active {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-third-line {
    /* margin: 1rem auto; */
  }
  .burger-third-line-active {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  /* .header_burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 3px;
        top:18px;

    } */
}

.active {
  visibility: visible;
  height: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* .header_menu active {
    transition-duration: 3s;
} */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: #1E2A39;
}

body {
  position: relative;
  background: linear-gradient(200deg, #C7CBAB 0%, rgba(158, 170, 81, 0) 100%);
  background-repeat: no-repeat;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: calc(10px + 20 * (100vw/1920));
  line-height: 200%;
  color: #1E2A39;
  overflow-x: hidden;
}

.icons-element {
  background: url("./img/icons/js-vector.svg");
  background-repeat: no-repeat;
  background-size: 6rem;
  width: 6rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.icons-element:hover {
  -webkit-transform: scale(0.8), rotate(45deg);
          transform: scale(0.8), rotate(45deg);
}

@media (min-width: 1440px) {
  body {
    font-size: 30px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.description {
  margin-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 600px) {
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .description {
    margin-top: 120px;
  }
}

.photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 1s;
  transition: 1s;
  /* position: absolute;
    width: 1080px;
    height: 965px;
    float:right; */
}

.photo img {
  width: 100%;
}

.name {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* position: absolute; */
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  /* width: 959px; */
  height: auto;
  top: 272px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.name h1 {
  font-size: calc(30px + 66 * (100vw/1920));
  line-height: 102%;
}

.name h2 {
  font-size: calc(27px + 45 * (100vw/1920));
  line-height: 160%;
  color: #BB7A3B;
}

@media (min-width: 1440px) {
  .name h1 {
    font-size: 96px;
  }
  .name h2 {
    font-size: 72px;
  }
}

.name h1 span {
  color: #bb7a3b;
}

.title-heading-about-myself,
.title-heading-portfolio,
.title-heading-codeexample,
.title-heading-languages {
  text-align: center;
  margin: 30px;
}

.aboutmyself {
  margin: 0 30px;
  font-size: calc(15px + 25 * (100vw/1920));
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

.aboutmyself ul li {
  padding: 0;
  margin-left: 60px;
  list-style-type: disc;
  text-align: left;
}

@media (min-width: 1440px) {
  .aboutmyself {
    font-size: 40px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* transition: 1s;
    transform: translate(-120%, 0);
    opacity: 0; */
}

.contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  gap: 60px;
  margin-left: 0;
  font-size: calc(13px + 30 * (100vw/1920));
}

@media (max-width: 600px) {
  .contacts-links {
    gap: 0;
  }
}

@media (min-width: 1440px) {
  .contacts-links {
    font-size: 48px;
  }
}

.contacts-links li {
  margin-left: 0;
  text-decoration: none;
  color: inherit;
}

.icon-phone::before,
.icon-mail::before,
.icon-telegram::before,
.icon-instagram::before,
.git-hub::before {
  display: inline-block;
  content: '';
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.icon-phone::before {
  background-image: url("img/icons/phone.svg");
}

.icon-mail::before {
  background-image: url("img/icons/mail.svg");
}

.icon-telegram::before {
  background-image: url("img/icons/telegram.svg");
}

.icon-instagram::before {
  background-image: url("img/icons/instagram.svg");
}

.git-hub::before {
  background-image: url("img/icons/git-hub.svg");
}

/* ----------------------------SKILLS------------------------------ */
.title-heading,
.title-heading-about-myself,
.title-heading-portfolio,
.title-heading-codeexample,
.title-heading-languages {
  display: inline-block;
  position: relative;
  width: -webkit-fill-available;
  font-size: calc(20px + 40 * (100vw/1920));
  line-height: 180%;
  border-bottom: 5px solid rgba(187, 122, 59, 0.3);
  cursor: pointer;
}

@media (min-width: 1440px) {
  .title-heading,
  .title-heading-about-myself,
  .title-heading-portfolio,
  .title-heading-codeexample,
  .title-heading-languages {
    font-size: 60px;
  }
}

.title-heading:after,
.title-heading-about-myself:after,
.title-heading-portfolio:after,
.title-heading-codeexample:after,
.title-heading-languages:after {
  content: '';
  position: absolute;
  display: block;
  width: 250px;
  height: 5px;
  background: #bb7a3b;
  -webkit-transition: 3s;
  transition: 3s;
}

.title-heading:hover:after,
.title-heading-about-myself:hover:after,
.title-heading-portfolio:hover:after,
.title-heading-codeexample:hover:after,
.title-heading-languages:hover:after {
  width: 100%;
  display: block;
  -webkit-transition: 3s;
  transition: 3s;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  width: 100%;
  padding: 30px 0;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* transition: 1s;
    transform: translate(120%, 0);
    opacity: 0; */
}

.skills-wrapper-title {
  margin-left: 0;
  font-size: calc(18px + 30 * (100vw/1920));
  line-height: 45px;
}

@media (min-width: 1440px) {
  .skills-wrapper-title {
    font-size: 48px;
  }
}

.skills-wrapper-title ul li {
  padding: 20px 0;
}

@media (max-width: 600px) {
  .skills-wrapper-title ul li {
    padding: 0 0;
  }
}

.skills-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* flex: 1; */
}

/* .skills-html::after {
    content: '';
    background-image: url('img/points/html.svg');
    position: relative;
    height: 24px;
    width: 243.63681030273438px;
    /* flex: 1; */
/* display: inline-block;

    
   

} */
.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  gap: 60px 0;
  margin-left: 0;
}

@media (max-width: 500px) {
  .points {
    display: none;
  }
}

@media (max-width: 600px) {
  .points {
    padding: 6px 0;
    gap: 22px 0;
  }
}

.point-html,
.point-css,
.point-JS,
.point-PS,
.point-figma,
.point-GIT,
.point-nodejs,
.point-react,
.point-typescript {
  display: inline-block;
  content: '';
  position: relative;
  height: 24px;
  width: 340px;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom left;
  background-size: initial;
}

/* @media(max-width:480px) {
    .point-html,
    .point-css,
    .point-JS,
    .point-PS,
    .point-figma,
    .point-GIT {

    height: 12px;
    width: 120px;
    

}
} */
.point-html {
  background-image: url("img/points/html.svg"), url("img/points/background.png");
}

.point-css {
  background-image: url("img/points/css.svg"), url("img/points/background.png");
}

.point-JS {
  background-image: url("img/points/css.svg"), url("img/points/background.png");
}

.point-PS {
  background-image: url("img/points/Phtoshop.svg"), url("img/points/background.png");
}

.point-figma {
  background-image: url("img/points/figma.svg"), url("img/points/background.png");
}

.point-GIT {
  background-image: url("img/points/git.svg"), url("img/points/background.png");
}

.point-nodejs {
  background-image: url("img/points/react-TS-.nodejs.svg"), url("img/points/background.png");
}

.point-react {
  background-image: url("img/points/react-TS-.nodejs.svg"), url("img/points/background.png");
}

.point-typescript {
  background-image: url("img/points/react-TS-.nodejs.svg"), url("img/points/background.png");
}

.container-skills-contats {
  -webkit-transition: 1s;
  transition: 1s;
  /* transform: translate(0, 80%); */
}

/* -----------------------------SKILLS CONTACTS-------------------------------- */
.skills-contats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

@media (max-width: 500px) {
  .skills-contats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* -----------------------PORTFOLIO---------------------------- */
.container-portfolio {
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  gap: 30px;
  margin-left: 0;
}

.portfolio-1 {
  width: 30rem;
  height: 30rem;
  margin: 0 2rem;
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.silver-seven {
  background: url(img/portfolio/silverSeven.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio-portfolio {
  background: url(img/portfolio/portfolio.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.video-player {
  background: url(img/portfolio/video-player.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.movie-app {
  background: url(img/portfolio/movie-app.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.memory-game {
  background: url(img/portfolio/memory-game.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.momentum {
  background: url(img/portfolio/momentum.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.css-mem-slider {
  background: url(img/portfolio/css-mem-slider.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shelter {
  background: url(img/portfolio/shelter.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.virtual-keyboard {
  background: url(img/portfolio/virtual-keyboard.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio-1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex: 1; */
  top: 40%;
  text-align: center;
  text-decoration: none;
  color: silver;
  height: 100%;
  cursor: pointer;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  /* transition: 3s; */
  opacity: 0;
}

.portfolio-1 :hover {
  background-color: rgba(161, 98, 38, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  opacity: 1;
  text-align: center;
  font-size: calc(40px + 60 * (100vw/1920));
}

@media (min-width: 1440px) {
  .portfolio-1 :hover {
    font-size: 60px;
  }
}

.portfolio-2 {
  /* flex:1;
    background-color: blanchedalmond; */
}

/* ------------------------CODE EXAMPLE ----------------------------------------- */
.container-codeexample {
  -webkit-transition: 1s;
  transition: 1s;
}

.codeexample {
  display: none;
  margin: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floating-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 60PX;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #dacfb5;
  border: solid 1px #bb7a3b;
  -webkit-box-shadow: 0 8px 15px;
          box-shadow: 0 8px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.floating-button:hover {
  background: #bb7a3b;
  -webkit-box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.codeexample img {
  width: 100%;
  /* max-height: 600px; */
  -o-object-fit: cover;
     object-fit: cover;
}

/* -------------------------------languages-------------------------------- */
.container-language {
  -webkit-transition: 1s;
  transition: 1s;
}

.languages {
  margin: 0 30px 30px 30px;
  font-size: calc(18px + 30 * (100vw/1920));
}

@media (min-width: 1440px) {
  .languages {
    font-size: 48px;
  }
}

.languages p {
  padding: 25px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  max-width: 1440px;
  height: auto;
  background-color: rgba(200, 204, 171, 0.7);
}

.img-github {
  width: 200px;
}

.img-rsschool {
  width: 250px;
}

.footer p {
  font-size: calc(18px + 30 * (100vw/1920));
}

@media (min-width: 1440px) {
  .footer p {
    font-size: 48px;
  }
}

.active {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}
