* {
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    /* overflow-x: hidden; */
    scroll-behavior:smooth;
}
a {
    color:#1E2A39;
}
body {
    background: linear-gradient(200deg, #C7CBAB 0%, rgba(158, 170, 81, 0) 100%);
    
    background-repeat: no-repeat;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 20 * (100vw/1920));
    line-height: 200%;
    color: #1E2A39;
}
@media (min-width:1440px) {
    body {
        font-size:30px;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: content-box;
}
.header {
    position: fixed;
    top:0;
    max-width: inherit;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* max-width: 1920px; */
    height: 200px;
    overflow: hidden;
}

header:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg, #C7CBAB 0%, rgba(158, 170, 81, 0) 100%);
    z-index: -1;
}


.header_menu {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    gap:0;
    width: 100%;
    cursor: pointer;
    box-sizing: content-box;
    z-index: 10;
}



@media (max-width: 1024px) {
    .header {
        display: block;
        height: auto;
        position: fixed;
        height: auto;
        width: 100%;
        padding: 20px 0px;
        background-color: rgba(198, 216, 150, 0.514);
        
        
    }
    .header_menu {
        /* display: inline; */
        flex-direction: column;
        align-content: center;
        gap: 0px;
        margin: 20px 20px 0 0;
        padding: 0px 0px 0 0;
        height: 0;
        font-size: 20px;
        line-height: 201%;
        z-index: 10; 
        opacity: 0;
        transform: translateY(-10px);
        transition: all .3s ease;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 50px;
        height: 40px;
        /* border: solid; */
        
    }
    .header_burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 3px;
        top:18px;

    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .header_burger::before {
        top:0;
    }
    .header_burger::after {
        bottom: 0;
    }

    
} 



.active {
    visibility: visible;
    height: auto;
    transform: translateY(0);
    opacity: 1;
}
/* .header_menu active {
    transition-duration: 3s;
} */


/* ---------------------------------- Main part ---------------------------------------------------*/

.description {
    margin-top: 220px;
    display: flex;
    
    justify-content: space-between;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
@media (max-width:600px) {
    .description {
        flex-direction: column;
    }
}
@media(max-width:1024px) {
    .description {
    margin-top: 120px;
}
}

.photo {
    flex:1;
    /* position: absolute;
    width: 1080px;
    height: 965px;
    float:right; */
}
.photo img {
    width: 100%;
}
.name {
         /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* position: absolute; */
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    /* width: 959px; */
    height: auto;
    top: 272px;
    flex:1;
}

.name h1 {
    font-size:calc(30px + 66 * (100vw/1920));
    line-height: 102%;

}

.name h2 {
    font-size: calc(27px + 45 * (100vw/1920));
    line-height: 160%;
    color: #BB7A3B;

}
@media (min-width:1440px) {
    .name h1 {
        font-size: 96px;
    }
    .name h2 {
        font-size: 72px;
    }
}
.name h1 span{
    color:rgba(187, 122, 59, 1);

}

/* ---------------------------------ABOUT MYSELF ------------------------ */

.title-heading-about-myself,
.title-heading-portfolio,
.title-heading-codeexample,
.title-heading-languages {
    text-align: center;
    margin: 30px;
}

.aboutmyself {
    margin: 0 30px;
    font-size: calc(15px + 25 * (100vw/1920));
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;

}
@media (min-width:1440px) {
    .aboutmyself {
    font-size: 40px;
}
}

/* ----------------------------SKILLS------------------------------ */

.title-heading,
.title-heading-about-myself,
.title-heading-portfolio,
.title-heading-codeexample,
.title-heading-languages {
    display: inline-block;
    position: relative;
    width: -webkit-fill-available;
    font-size: calc(20px + 40 * (100vw/1920));
    line-height: 180%;
    border-bottom: 5px solid rgba(187, 122, 59, 0.3);
    cursor: pointer;
    
}
@media (min-width:1440px) {
    .title-heading,
    .title-heading-about-myself,
    .title-heading-portfolio,
    .title-heading-codeexample,
    .title-heading-languages {
   
    font-size: 60px;
    
    
}
}

.title-heading:after,
.title-heading-about-myself:after,
.title-heading-portfolio:after,
.title-heading-codeexample:after,
.title-heading-languages:after {
    content: '';
    position: absolute;
    display: block;
    width: 250px;
    height: 5px;
    background: rgba(187, 122, 59, 1);
    transition: 3s;


}
.title-heading:hover:after,
.title-heading-about-myself:hover:after,
.title-heading-portfolio:hover:after,
.title-heading-codeexample:hover:after,
.title-heading-languages:hover:after {
    width: 100%;
    display: block;
    transition: 3s;

}
.skills {
    display: flex;
    margin-left: 0;
    width: 100%;
    padding: 30px 0;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
    flex:1;
}
.skills-wrapper-title {
    margin-left: 0;
    font-size:calc(18px + 30 * (100vw/1920));
    line-height: 45px;
}

@media (min-width:1440px) {
    .skills-wrapper-title {
     font-size:48px;
}
}



.skills-wrapper-title ul li {
    
    padding: 20px 0;
}

@media (max-width:600px) {
    .skills-wrapper-title ul li {
    
    padding: 0 0;
}    
}
 .skills-html {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex: 1; */
 }

/* .skills-html::after {
    content: '';
    background-image: url('img/points/html.svg');
    position: relative;
    height: 24px;
    width: 243.63681030273438px;
    /* flex: 1; */
    /* display: inline-block;

    
   

} */ 
.points {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 60px 0;
    margin-left: 0;
}
@media (max-width:500px) {
    .points {
        display: none;
    }
}
@media (max-width:600px) {
    .points {
    
    padding: 6px 0;
    gap: 22px 0;
    
}  

}
.point-html,
.point-css,
.point-JS,
.point-PS,
.point-figma,
.point-GIT {

    display: inline-block;
    content: '';
    position: relative;
    height: 24px;
    width: 340px;
    background-size: 100% 100%, 100% 100% ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom left;
    background-size: initial;

}

/* @media(max-width:480px) {
    .point-html,
    .point-css,
    .point-JS,
    .point-PS,
    .point-figma,
    .point-GIT {

    height: 12px;
    width: 120px;
    

}
} */

.point-html {
    background-image: url('img/points/html.svg'), url('img/points/background.png') ;
}
.point-css {
    background-image: url('img/points/css.svg'), url('img/points/background.png');

}
.point-JS {
    background-image: url('img/points/JS.svg'), url('img/points/background.png');
}
.point-PS {
    background-image: url('img/points/Phtoshop.svg'), url('img/points/background.png');
}
.point-figma {
    background-image: url('img/points/figma.svg'), url('img/points/background.png');
}
.point-GIT {
    background-image: url('img/points/git.svg'), url('img/points/background.png');
}



/* -----------------------------SKILLS CONTACTS-------------------------------- */

.skills-contats {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}
@media (max-width:500px) {
    .skills-contats {
        flex-direction: column;
    }
}

/* ----------------------------------CONTACTS--------------------------------------------- */

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
    flex:1;

}
.contacts-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    padding: 50px 0;
    gap:60px;
    margin-left: 0;
    font-size: calc(13px + 30 * (100vw/1920));
}
@media(max-width:600px) {
    .contacts-links {
        gap: 0;
    }
}
@media (min-width:1440px) {
    .contacts-links {
    font-size: 48px;
}
}
.contacts-links  li  {
    margin-left: 0;
    text-decoration:none;
    color: inherit;
}

.icon-phone::before,
.icon-mail::before,
.icon-telegram::before,
.icon-instagram::before,
.git-hub::before

 {
    display: inline-block;
    content: '';
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 30px;
    
    background-repeat: no-repeat;
    background-position: bottom left;

}

.icon-phone::before {
    background-image: url('img/icons/phone.svg');
}
.icon-mail::before{
    background-image: url('img/icons/mail.svg');
}
.icon-telegram::before{
    background-image: url('img/icons/telegram.svg');
}
.icon-instagram::before{
    background-image: url('img/icons/instagram.svg');
}
.git-hub::before{
    background-image: url('img/icons/git-hub.svg');
}



/* -----------------------PORTFOLIO---------------------------- */


.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    gap:30px;
    margin-left: 0;
}
.portfolio-1 {
    
    width: 500px;
    height: 500px; 
    margin: 0 30px;
    background: url('img/portfolio/silverSeven.png') ;
    background-size: 100% 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    transition: 3s ease;
    
   
}
.portfolio-1 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1; */
    top: 40%;
    text-align: center;
    text-decoration: none;
    color: silver;
    height: 100%;
    cursor: pointer;
    transition-duration: 3s;
    /* transition: 3s; */
    opacity: 0;
}

.portfolio-1 :hover {
  
    background-color: rgba(161, 98, 38, 0.7)  ;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1.5s;
    opacity: 1;
    text-align: center;
    font-size: calc(40px + 60 * (100vw/1920));
    
}
@media (min-width:1440px) {
   .portfolio-1 :hover {
    font-size: 80px;
    
}
}

.portfolio-2 {
    /* flex:1;
    background-color: blanchedalmond; */
}

/* ------------------------CODE EXAMPLE ----------------------------------------- */


.title-heading-codeexample {
}
.codeexample {
    display: flex;
    margin: 30px;
}
.codeexample img {
    width: 100%;
    /* max-height: 600px; */
    object-fit: cover;

}


/* -------------------------------languages-------------------------------- */

.languages {
    margin: 0 30px 30px 30px;
    font-size: calc(18px + 30 * (100vw/1920));
}
@media (min-width:1440px) {
    .languages {
    font-size: 48px;
}
}
.languages p {
    padding: 25px 0;
}


/* -------------------------------------------------FOOTER----------------------------------------- */

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 1440px;
    height: auto;
    background-color: rgba(200, 204, 171, 0.7);
}
.img-github {
     width: 200px;
    height: ;
}
.img-rsschool {
    width: 250px;
    height: ;
}
.footer p {
    font-size: calc(18px + 30 * (100vw/1920));
}

@media (min-width:1440px) {
    .footer p {
    font-size: 48px;
}
}